footer
  //- div.waves
  //-   div.wave#wave1
  //-   div.wave#wave2
  //-   div.wave#wave3
  //-   div.wave#wave4
  //- ul.social_icon
  //-   li
  //-     a(href="#")
  //-       ion-icon(name="logo-facebook")
  //-   li
  //-     a(href="#")
  //-       ion-icon(name="logo-twitter")
  //-   li
  //-     a(href="#")
  //-       ion-icon(name="logo-linkedin")
  //-   li
  //-     a(href="#")
  //-       ion-icon(name="logo-instagram")
  
  p.copyright Made By Muhammad Taha
script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
script(nomodule, src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
