//- Include header
include partials/header

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      | table {
      |     width: 100%;
      |     border-collapse: collapse;
      |     margin-bottom: 20px;
      | }
      |
      | th, td {
      |     border: 1px solid #ddd;
      |     padding: 8px;
      |     text-align: left;
      | }
      |
      | th {
      |     background-color: #f2f2f2;
      | }
      | .heading{
      |  text-align: center;
      |  }
      | @media screen and (max-width: 600px) {
      |     table {
      |         overflow-x: auto;
      |     }
      | }

  body
   .container 
    h1.heading ICC T20 Final Match Teams
      h2 Pakistan Playing XI
      table
        
        tr
          th Player
          th Role
        tr
          td Babar Azam (c)
          td Captain
        tr
          td Mohammad Rizwan (w)
          td Wicketkeeper
        tr
          td Mohammad Haris
          td
        tr
          td Shan Masood
          td
        tr
          td Iftikhar Ahmed
          td
        tr
          td Shadab Khan
          td
        tr
          td Mohammad Nawaz
          td
        tr
          td Mohammad Wasim Jr
          td
        tr
          td Naseem Shah
          td
        tr
          td Haris Rauf
          td
        tr
          td Shaheen Afridi
          td

      h2 England Playing XI
      table
        tr
          th Player
          th Role
        tr
          td Jos Buttler (c, w)
          td Captain, Wicketkeeper
        tr
          td Alex Hales
          td
        tr
          td Dawid Malan
          td
        tr
          td Ben Duckett
          td
        tr
          td Harry Brook
          td
        tr
          td Moeen Ali
          td
        tr
          td Sam Curran
          td
        tr
          td Chris Woakes
          td
        tr
          td Mark Wood
          td
        tr
          td David Willey
          td
        tr
          td Adil Rashid
          td

//- Include header
include partials/footer